<div class="ml-2 ">

	{{textarea class="label mt-3 h5 text-dark" placeholder = "add here " value = name}}
<div >
<div class=" ml-4 mr-4  btn btn-info" {{action "add"}}><h4>Send</h4></div>
</div>
</div>

