<div class="ml-2 ">
{{textarea class="label mt-3 h5 text-dark" value = name placeholder = "Edit here..."}}

<div class="detail">
<div class=" ml-4 mr-4  btn btn-info" {{on "click" (fn this.show this.current.count)}}><h4>Submit</h4></div>


</div>
</div>

